body{
    font-family: "Roboto", Helvetica, sans-serif;
    font-size:larger;
    margin-top: 6em;
}

h2, h3 {
    font-family: "Montserrat", Helvetica, sans-serif;
}

.mainHeading {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
    
}

.questionBox {
    border-radius:0.5em;
    background-color: #dff6fe;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width : 1000px;
    box-shadow: 5px 5px 10px #cecece;
}

.question {
    border-radius: 0.5em 0.5em 0 0;
    background-color: #7cd8ff;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-style: solid;
    border-color: #36c2ff;
    border-width: thick;

}


.answer {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.navButton.active {
    background-color: #7cd8ff;
    border-color: #36c2ff;
}