body{
    font-family: "Roboto", Helvetica, sans-serif;
    font-size:larger;
    margin: 6em auto;
}

h2, h3 {
    font-family: "Montserrat", Helvetica, sans-serif;
}

.mainHeading {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
    
}

.questionBox {
    border-radius:0.5em;
    background-color: #f3f3f3cc;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width : 1000px;

}

.question {
    border-radius: 0.5em 0.5em 0 0;
    background-color: #aae0ff9f;
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;

}


.answer {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

