div#footer{
    margin: 0 auto;
    padding: 2em;
    background-image: url('https://github.com/leviwj/hackathon/blob/main/images/Footer.jpg?raw=true');
    background-color: #c0eeeed3;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
}

div.footer {
    padding: 1em;
}

div.developers h3{
    margin-bottom: 1.4em;
}

div.developers p{
    padding: 10px;
}

.mapouter{
    width: 100%;
    margin: 0 auto;
}

img.email{
    height: 40px;
}
div.developers section{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.gmap_canvas {
    border: 5px solid white;
    border-radius: 1em;
}




