*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

#logo {
    height: 4em;
    margin: 0 1em -1.7em 1em;
}

#navBar {
    position: fixed;
    width: 100%;
    top: 0;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    background-color: #699ae9;
    transition: font-size .1s;
    width: 100%;
}

.navButton {
    color: white;
    margin-top: .2em;
    margin-bottom: .2em;
    text-decoration: none;
    display: inline-block;
    height: 4em;
    line-height: 2em;
    vertical-align: middle;
    text-align: center;
    padding: 1em;
    border-style: solid;
    border-width: thick;
    border-color: #428bfe;
    background-color: #7aadff;
    border-radius: 11px;
}

.navButton:hover {
    border-color: white;
}

img#userIcon {
    vertical-align: middle;
    border-radius: 30px;
    margin-right: .2em;
    max-width: 1.4em;
    max-height: 1.4em;
}

.navButton.active {
    color:black;
}