body{
    font-family: "Roboto", Helvetica, sans-serif;
    font-size:larger;
    margin: 6em auto;
}

h2, h3 {
    font-family: "Montserrat", Helvetica, sans-serif;
}

.mainHeading {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.5em;
    
}

.box {
    border-radius:0.5em;
    background-color: #fae1fe;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    max-width : 1000px;
    box-shadow: 5px 5px 10px #cecece;

}

.heading {
    background-color:#eda2ff;
    border-radius: 0.5em 0.5em 0 0;
    border-color: #df52ff;
    border-style: solid;
    border-width: thick;
    padding-top: 11px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;

}

.inspiration {
    padding-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;

}


