body {
    background-image: url''
}


.header {
    background-color: #98c5d4;
    color: white;
    border-radius: .5em .5em 0 0;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.loginBtn {
    margin-top: 3em;
    padding: 1em;
    border-radius: .3em;
    background-color: #98c5d4;
    border: none;
    cursor: pointer;
}

.loginContainer {
    max-width: 30em;
    background-color: #d4ecf5;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    border-radius: .5em;
    box-shadow: .2em .2em .2em #a8a8a8;
}

.g-signin2 {
    width: fit-content;
    margin: 1em auto;
}