body {
    background-image: url('https://raw.githubusercontent.com/leviwj/hackathon/main/images/LoginBackground.webp'); 
    background-color: #ffffff;
    background-size: cover;
}

.header {
    background-color: #98c5d4;
    color: white;
    border-radius: .5em .5em 0 0;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.loginLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.loginBtn {
    margin-top: 3em;
    padding: 1em;
    border-radius: .3em;
    background-color: #98c5d4;
    color: white;
    border: 3px solid #6ba7bc;
    font-size: .9em;
    font-weight: bold;
    cursor: pointer;
}

.loginBtn:hover {
    border-color: white;
}

.loginContainer {
    max-width: 30em;
    background-color: #d4ecf5;
    height: 35vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    border-radius: 1em;
    border-style: solid;
    border-color: #6ba7bc;
    border-width: thick;
}

.g-signin2 {
    width: fit-content;
    margin: 1em auto;
}