body {
    font-family: Arial, Helvetica, sans-serif;
}

.categoryGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-top: 1em;
}

.category {
    background-color: black;
    text-align: center;
    color: white;
    border-radius: .5em;
    padding: 3em;
    background-size: cover;
    cursor: pointer;
    transition: box-shadow .1s;
}

.category:hover {
    box-shadow: 2px 2px 2px gray;
}

div.inputContainer {
    padding: 2em;
    background-color: #f5f4f4;
    margin-bottom: 1em;
}

.eventInput {
    padding: 1em;
    border: 1px solid #d5e5ff;
    border-radius: .5em;
    width: 100%;
    margin-bottom: 1em;
}

.inputLabel {
    display: inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}

#eventDesc {
    min-height: 8em;
}

#eventSubmit {
    margin: 2em auto 1em auto !important;
    padding: 1em;
    cursor: pointer;
    background-color: #5ec0c0;
    color: white;
    border-radius: .5em;
    border: none;
    display: inherit;
}

/* Hide the radio button input, we only want to see the images */
.categoryRadio { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.categoryRadio + img {
    cursor: pointer;
    height: 150px;
    padding: .2em;
    border-radius: .5em;
}

.categoryRadio:checked + img {
    outline: 4px solid lightgreen;
}

.categoryLabel {
    color: gray;
    text-align: center;
}